<% include ../template/header %>
<header>
  <h1>OpenFinancial</h1>
  <h4>Welcome!</h4>
</header>
<section class="panel">
  <table width="100%">
    <thead>
      <tr>
        <th width="50%">Description</th>
        <th width="20%">Value</th>
        <th width="30%">Date</th>
      </tr>
    </thead>
  </table>
</section>
<% include ../template/footer %>
