<div id="modal-delete" class="reveal-modal" data-reveal>
  <h2>Payment Informations</h2>
  <form id="form-payment" action="/payment?_method=delete" method="post">

    <p>
      Are you sure you want do delete this Payment?
    </p>

    <a class="close-reveal-modal">&#215;</a>
    <button type="submit" class="button small right">
      <span class="fi-save"></span>
      I'm sure
    </button>
  </form>
</div>
