<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OpenFinancial</title>
    <style>
      @import url('zurb/css/foundation.css');
      header {text-align:center;}
      form > footer {text-align:right;}
      body > footer {
        font-size:2em;
        text-align:center;
      }
    </style>
  </head>
  <body class="row">
